body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;/*sdfs*/
    background: rgb(11, 32, 41);
    color: whitesmoke;
}

hr {
    width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(137, 150, 20);
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    
    
}

.tile {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    border-radius: 5px;

    /* Text */
    color: rgb(240, 234, 234);
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    background: rgba(255, 255, 0, 0.527);
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:white;
}


.keyboard-row {
    width: 600px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    width: 50px;
    height: 50px;
    margin: 1px;
    border: 3px solid rgb(141, 156, 55);
    border-radius: 5px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.key-tile:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    background: rgba(255, 255, 0, 0.527);

}
.enter-key-tile {
    width: 76px;
    height: 50px;
    margin: 1px;
    border: 3px solid rgb(141, 156, 55);
    border-radius: 5px;
    

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    background: rgba(255, 255, 0, 0.527);
}